<!DOCTYPE html>
<html>
<head>
    <title>Rechner</title>
</head>
<body>
    <table>
        <tr>
            <td><input readonly id="zwischenergebnis" value="0"/></td>
        </tr>
        <tr>
            <td><input readonly id="ergebnis" value="0"/></td>
        </tr>
        <tr>
            <td><button onclick="btn_clicked(this.value)" id="btn_7" value="7">7</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_8" value="8">8</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_9" value="9">9</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_mult" value="*">*</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_clicked(this.value)" id="btn_4" value="4">4</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_5" value="5">5</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_6" value="6">6</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_minus" value="-">-</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_clicked(this.value)" id="btn_1" value="1">1</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_2" value="2">2</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_3" value="3">3</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_plus" value="+">+</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_clicked(this.value)" id="btn_0" value="0">0</button></td>
            <td><button onclick="btn_clicked(this.value)" id="btn_comma" value=".">.</button></td>
            <td><button onclick="btn_clear_clicked" id="btn_clear">clear</button></td>
            <td><button onclick="btn_equals_clicked" id="btn_equals">=</button></td>
        </tr>
    </table>

    <script>
        var e = ""
        function btn_clicked(val) {
            e += val
            if (val == parseInt(val)) {
                ergebnis.value += val
            }
        }
        function btn_clear_clicked() {
            e = ""
            ergebnis.value = ""
        }
        function btn_equals_clicked() {
            ergebnis.value = eval(e)
        }
    </script>
</body>
</html>
