<!DOCTYPE html>
<html>
<head>
    <title>Rechner</title>
</head>
<body>
    <table>
        <tr>
            <td><input readonly id="zwischenergebnis" value="0"/></td>
        </tr>
        <tr>
            <td><input readonly id="ergebnis" value="0"/></td>
        </tr>
        <tr>
            <td><button onclick="btn_7_clicked" id="btn_7">7</button></td>
            <td><button onclick="btn_8_clicked" id="btn_8">8</button></td>
            <td><button onclick="btn_9_clicked" id="btn_9">9</button></td>
            <td><button onclick="btn_mult_clicked" id="btn_mult">*</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_4_clicked" id="btn_4">4</button></td>
            <td><button onclick="btn_5_clicked" id="btn_5">5</button></td>
            <td><button onclick="btn_6_clicked" id="btn_6">6</button></td>
            <td><button onclick="btn_minus_clicked" id="btn_minus">-</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_1_clicked" id="btn_1">1</button></td>
            <td><button onclick="btn_2_clicked" id="btn_2">2</button></td>
            <td><button onclick="btn_3_clicked" id="btn_3">3</button></td>
            <td><button onclick="btn_plus_clicked" id="btn_plus">+</button></td>
        </tr>
        <tr>
            <td><button onclick="btn_0_clicked" id="btn_0">0</button></td>
            <td><button onclick="btn_comma_clicked" id="btn_comma">.</button></td>
            <td><button onclick="btn_ret_clicked" id="btn_ret">ret</button></td>
            <td><button onclick="btn_equals_clicked" id="btn_equals">=</button></td>
        </tr>
    </table>


    <script>

    </script>
</body>
</html>
