<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/MyModule.js"></script>
</head>
<body>


    <script>
        function test01(a, b, c) {
            MyModule.consolelog(a)
            MyModule.consolelog(b)
            MyModule.consolelog(c)
        }
        //console.log('... test01(10,"20",30.0) ...');
        //test01(10, "20", 30.0)
        //console.log('... test01 ...');
        //test01
        //console.log('... test01() ...');
        //test01()
        //console.log('... test01(10,10) ...');
        //test01(10,10)
        test01(10, "10", 10.0)
        MyModule.minischderpraesidend
    </script>
</body>
</html>
