body {
    font-family: Consolas;
}

ul {
    list-style-type: none;
}

    ul li {
        display: inline-block;
        width: 100px;
        background-color: dodgerblue;
        color: white;
        font-size: 24px;
    }

        ul li:hover {
            background-color: yellow;
        }

        ul li a {
            text-decoration: none;
            color: white;
        }

.aktuell {
    background-color: red;
}

.ctrlgroup{
    margin: 5px 3px 5px 3px;
    padding: 5px;
}

.ctrl label{
    display: inline-block;
    width: 100px;
}

.error{
    color:red;

}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 5px;
}

th{
    border:1px solid #888;
    padding: 5px;
}

tr:first-child{
    background-color: black;
    color: white;
}
tr:nth-child(2n) {
    background-color: aquamarine;
}